.navbar {
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #374151;
  font-size: 1rem;
}

.nav-button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: #111827;
  color: white !important;
}

.nav-button:hover{
  background-color: #374151;
}

@media (max-width: 768px) {
  .navbar-links a {
    display: none;
  }
}